In [1]:
import pandas as  pd

In [2]:
#Question 1
data = pd.read_csv("C:\\Users\\mahes\\Downloads\\ODI_Match_Results.csv")

In [3]:
#Question 2
print("First five rows:\n",data.head())

First five rows:
    Unnamed: 0 Result    Margin  BR  Toss  Bat   Opposition     Ground  \
0         418    won   85 runs NaN  lost  1st      v India    Kolkata
1         692   lost   85 runs NaN   won  2nd   v Pakistan    Kolkata
2         419   lost   10 runs NaN  lost  2nd      v India      Delhi
3         693    won   10 runs NaN   won  1st   v Pakistan      Delhi
4         121   lost  107 runs NaN  lost  2nd  v Australia  Melbourne

    Start Date    Match_ID   Country  Country_ID
0   3 Jan 2013  ODI # 3315  Pakistan           7
1   3 Jan 2013  ODI # 3315     India           6
2   6 Jan 2013  ODI # 3316  Pakistan           7
3   6 Jan 2013  ODI # 3316     India           6
4  11 Jan 2013  ODI # 3317  SriLanka           8

In [4]:
#Question 3
print("Number of rows and column:",data.shape)

Number of rows and column: (1322, 12)

In [5]:
#Question 4
print("Number of Missing values in data:\n",data.isnull().sum())

Number of Missing values in data:
 Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

In [6]:

#Question 5
print("Statistics of the data:\n",data.describe())

Statistics of the data:
         Unnamed: 0          BR   Country_ID
count  1322.000000  606.000000  1322.000000
mean    661.500000   51.409241     8.560514
std     381.772838   55.924337    10.337003
min       1.000000    0.000000     1.000000
25%     331.250000   10.000000     3.000000
50%     661.500000   30.500000     5.000000
75%     991.750000   75.000000     8.000000
max    1322.000000  250.000000    40.000000

In [7]:
#Question 6
print("variable names and their data types:\n",data.dtypes)

variable names and their data types:
 Unnamed: 0      int64
Result         object
Margin         object
BR            float64
Toss           object
Bat            object
Opposition     object
Ground         object
Start Date     object
Match_ID       object
Country        object
Country_ID      int64
dtype: object