In [58]:
import pandas as pd

In [59]:
data = {
    "Match 1": [45, 60, 20, 80, 55],
    "Match 2": [30, 50, 40, 90, 65],
    "Match 3": [70, 20, 35, 60, 40],
    "Match 4": [25, 45, 15, 100, 75],
}
players = ["Player 1", "Player 2", "Player 3", "Player 4", "Player 5"]

In [60]:
performance = pd.DataFrame(data, index=players)
print("First 3 Rows of dataframe:\n ",performance.head(3))

First 3 Rows of dataframe:
            Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       45
Player 3       20       40       35       15

In [61]:
print("Number of playes and match in dataframe:\n",performance.shape)

Number of playes and match in dataframe:
 (5, 4)

In [62]:
print("Match name: ",performance.columns.tolist())
print("Players name: ",performance.index.tolist())

Match name:  ['Match 1', 'Match 2', 'Match 3', 'Match 4']
Players name:  ['Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5']

In [63]:
print("Data types in dataframe:\n",performance.dtypes)

Data types in dataframe:
 Match 1    int64
Match 2    int64
Match 3    int64
Match 4    int64
dtype: object

In [64]:
print("Missing values in dataframe:\n",performance.isnull().sum())

Missing values in dataframe:
 Match 1    0
Match 2    0
Match 3    0
Match 4    0
dtype: int64

In [65]:
print("Score  of 4th player in all matches:\n",performance.loc['Player 4'])

Score  of 4th player in all matches:
 Match 1     80
Match 2     90
Match 3     60
Match 4    100
Name: Player 4, dtype: int64

In [66]:
print("Score of Match 2:\n",performance['Match 2'])

Score of Match 2:
 Player 1    30
Player 2    50
Player 3    40
Player 4    90
Player 5    65
Name: Match 2, dtype: int64

In [67]:
print("Score of Player 1 and Player 3 for Match 1 and Match 4:\n",performance.loc[["Player 1", "Player 3"], ["Match 1", "Match 4"]])

Score of Player 1 and Player 3 for Match 1 and Match 4:
           Match 1  Match 4
Player 1       45       25
Player 3       20       15

In [68]:
print("Score of first 3 player and 2 matches:\n",performance.iloc[:3,:2])

Score of first 3 player and 2 matches:
           Match 1  Match 2
Player 1       45       30
Player 2       60       50
Player 3       20       40

In [75]:
print("Score of Player 5 in Match 3: ",performance.iloc[4,2])

Score of Player 5 in Match 3:  50

50

In [70]:

performance.iloc[1,3]=50
performance

          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       50
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75

In [71]:
performance.loc["Player 6"]=[50, 40, 60, 70]
performance

          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       50
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75
Player 6       50       40       60       70

In [72]:
performance += 10
performance

          Match 1  Match 2  Match 3  Match 4
Player 1       55       40       80       35
Player 2       70       60       30       60
Player 3       30       50       45       25
Player 4       90      100       70      110
Player 5       65       75       50       85
Player 6       60       50       70       80

In [73]:
performance.loc["Player 3"] -= 5
performance

          Match 1  Match 2  Match 3  Match 4
Player 1       55       40       80       35
Player 2       70       60       30       60
Player 3       25       45       40       20
Player 4       90      100       70      110
Player 5       65       75       50       85
Player 6       60       50       70       80

In [74]:
percentage=performance / 120 * 100
percentage

            Match 1    Match 2    Match 3    Match 4
Player 1  45.833333  33.333333  66.666667  29.166667
Player 2  58.333333  50.000000  25.000000  50.000000
Player 3  20.833333  37.500000  33.333333  16.666667
Player 4  75.000000  83.333333  58.333333  91.666667
Player 5  54.166667  62.500000  41.666667  70.833333
Player 6  50.000000  41.666667  58.333333  66.666667

In [77]:
total=performance.sum(axis=1)
total

Player 1    210
Player 2    220
Player 3    130
Player 4    370
Player 5    275
Player 6    260
dtype: int64

In [80]:
runsPerMatch=performance.sum(axis=0)
runsPerMatch

Match 1    365
Match 2    370
Match 3    340
Match 4    390
dtype: int64

In [82]:
highestRuns=total.idxmax()
highestRuns

'Player 4'

In [83]:
MinRuns=total.idxmin()
MinRuns

'Player 3'

In [84]:
average=performance.mean(axis=1)
average

Player 1    52.50
Player 2    55.00
Player 3    32.50
Player 4    92.50
Player 5    68.75
Player 6    65.00
dtype: float64

In [85]:
performance["Total Runs"] = total
performance

          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 1       55       40       80       35         210
Player 2       70       60       30       60         220
Player 3       25       45       40       20         130
Player 4       90      100       70      110         370
Player 5       65       75       50       85         275
Player 6       60       50       70       80         260

In [86]:
sortedPerformance=performance.sort_values(by="Total Runs", ascending=False)
sortedPerformance

          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 4       90      100       70      110         370
Player 5       65       75       50       85         275
Player 6       60       50       70       80         260
Player 2       70       60       30       60         220
Player 1       55       40       80       35         210
Player 3       25       45       40       20         130

In [87]:
performance[performance["Total Runs"] > 200]

          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 1       55       40       80       35         210
Player 2       70       60       30       60         220
Player 4       90      100       70      110         370
Player 5       65       75       50       85         275
Player 6       60       50       70       80         260