In [1]:
import pandas as  pd

In [4]:
#Question 1
data = pd.read_csv("C:\\Users\\mahes\\Downloads\\ODI_Match_Results.csv")

      Unnamed: 0 Result     Margin   BR  Toss  Bat   Opposition      Ground  \
0            418    won    85 runs  NaN  lost  1st      v India     Kolkata
1            692   lost    85 runs  NaN   won  2nd   v Pakistan     Kolkata
2            419   lost    10 runs  NaN  lost  2nd      v India       Delhi
3            693    won    10 runs  NaN   won  1st   v Pakistan       Delhi
4            121   lost   107 runs  NaN  lost  2nd  v Australia   Melbourne
...          ...    ...        ...  ...   ...  ...          ...         ...
1317         997    won  3 wickets  3.0   won  2nd   v Pakistan  Nottingham
1318         282   aban          -  NaN     -    -   v Scotland   Edinburgh
1319        1322      -          -  NaN   won  2nd    v Ireland     Belfast
1320         559      -          -  NaN  lost  2nd    v England       Leeds
1321         998      -          -  NaN   won  1st   v Pakistan       Leeds

       Start Date     Match_ID      Country  Country_ID
0      3 Jan 2013   ODI # 3315     Pakistan           7
1      3 Jan 2013   ODI # 3315        India           6
2      6 Jan 2013   ODI # 3316     Pakistan           7
3      6 Jan 2013   ODI # 3316        India           6
4     11 Jan 2013   ODI # 3317     SriLanka           8
...           ...          ...          ...         ...
1317  17 May 2019   ODI # 4138      England           1
1318  18 May 2019  ODI # 4138a     SriLanka           8
1319  19 May 2019   ODI # 4139  Afghanistan          40
1320  19 May 2019   ODI # 4140     Pakistan           7
1321  19 May 2019   ODI # 4140      England           1

[1322 rows x 12 columns]

In [6]:
#Question 2
print("First five rows:\n",data.head())

first five rows:
    Unnamed: 0 Result    Margin  BR  Toss  Bat   Opposition     Ground  \
0         418    won   85 runs NaN  lost  1st      v India    Kolkata
1         692   lost   85 runs NaN   won  2nd   v Pakistan    Kolkata
2         419   lost   10 runs NaN  lost  2nd      v India      Delhi
3         693    won   10 runs NaN   won  1st   v Pakistan      Delhi
4         121   lost  107 runs NaN  lost  2nd  v Australia  Melbourne

    Start Date    Match_ID   Country  Country_ID
0   3 Jan 2013  ODI # 3315  Pakistan           7
1   3 Jan 2013  ODI # 3315     India           6
2   6 Jan 2013  ODI # 3316  Pakistan           7
3   6 Jan 2013  ODI # 3316     India           6
4  11 Jan 2013  ODI # 3317  SriLanka           8

In [12]:
#Question 3
print("Number of rows and column:",data.shape)

Number of rows and column: (1322, 12)

In [15]:
#Question 4
print("Number of Missing values in data:\n",data.isnull().sum())

Number of Missing values in data: Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64